body {
  margin: 0;
}
.app-title {
  background-color: rgba(100, 100, 100, .5);
  text-align: center;
  padding: 5px;
}
.app-title-text{
  margin-left: 30px;
}
.chart-line-area{
  width: 90%;
  height: 500px;
  margin: 20px 5%;
}
.pref-checkbox-area{
  width: 15%;
  display: inline-block;
  text-align: center;
}
.pref-checkbox-area span {
  font-size: 10px;
}
.pref-checkbox{
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
